body{background-color: whitesmoke}

a{text-decoration: none}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bolder;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-brand{
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin-left: 20px;
    font-size: 15px;
}

.logo{
    color: white;
    font-size: 20px;
}

.navbar a{text-decoration: none}

.navbar a:hover{color: white}

.centralizar{
    margin: 0 auto;
}

.search{width: 50px}



footer.sticky-footer {
    width: 100%;
    background-color: #5a6670;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

label{font-weight: bolder}