<!DOCTYPE html>
<html lang="pt-br" ng-app="prontFisio">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Agendamento</title>

	<link rel="icon" href="img/logopreta.png">

    <link href="https://fonts.googleapis.com/css?family=Coustard:400,900|Viga" rel="stylesheet">

    <!-- Bootstrap core CSS-->
	<link href="css/bootstrap.css" rel="stylesheet">

	<!-- Custom fonts for this template-->
	<link href="fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">

    <!-- CSS próprio -->
	<link rel="stylesheet" href="css/estilo.css">

    <link rel="stylesheet" href="css/calendar/calendar_green.css" type="text/css"> 
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/index.js"></script>
    <!-- <script src="js/calendar/daypilot-all.min.js" type="text/javascript"></script> -->
    <script src="https://javascript.daypilot.org/demo/lite/js/daypilot-all.min.js"></script>

    <script type="text/javascript">

    </script>

</head>

<body class="fixed-nav sticky-footer bg-default" id="page-top">
	<div ng-include="'nav.html'"></div>
	<div class="content-wrapper" ng-controller="appointmentBookCtrl">
		<div class="container-fluid">
			<h4>AGENDA</h4>
			<hr/>
			<div class="row">
				<div class="col-lg-2">
					<button class="btn btn-primary btn-sm" ng-click="showDay()">Dia</button>
					<button class="btn btn-primary btn-sm" ng-click="showWeek()">Semana</button>
					<br/>
            		<daypilot-navigator id="navi" daypilot-config="navigatorConfig" ></daypilot-navigator>
            	</div>
            
            	<div class="col-lg-10">
            		<daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events" ></daypilot-calendar>
            		<daypilot-calendar id="day" daypilot-config="dayConfig" daypilot-events="events" ></daypilot-calendar>
           		</div>
			</div>
			
		</div>

		<div ng-include="'footer.html'"></div>

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
						<form action="/ProntFisio/logar" method="get">
							<button class="btn btn-primary" >Sair</a>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper/popper.min.js"></script>
        <script src="js/bootstrap.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
        <!-- Custom scripts for this page-->
        <!-- <script src="js/sb-admin-charts.min.js"></script> -->
</body>

</html>
