<!DOCTYPE html>
<html lang="pt-br" ng-app="prontFisio">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Identificação do Paciente</title>

	<link rel="icon" href="img/logopreta.png">

    <link href="https://fonts.googleapis.com/css?family=Coustard:400,900|Viga" rel="stylesheet">

	<!-- Bootstrap core CSS-->
	<link href="css/bootstrap.css" rel="stylesheet">

	<!-- Custom fonts for this template-->
	<link href="fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css">

	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">

	<link href="css/estilo.css" rel="stylesheet">
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/patientController.js"></script>
	<script src="https://javascript.daypilot.org/demo/lite/js/daypilot-all.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-default" id="page-top">
	<div ng-include="'nav.html'"></div>


	<!-- CONTEÚDO -->

	<div class="content-wrapper cadastro-paciente" ng-controller="patientCtrl">
		<div class="container-fluid">
		  <form name="patientForm" novalidate>
			<div class="col-lg-12">
                <h4>IDENTIFICAÇÃO DO PACIENTE</h4>
                <hr>

                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <!-- Cadastrar Paciente -->
                    <li class="nav-item">
                        <a class="nav-link active" id="cadastroPaciente-tab" data-toggle="tab" href="#cadastroPaciente" role="tab" aria-controls="cadastroPaciente" aria-selected="true">
                            CADASTRAR PACIENTE
                        </a>
                    </li>

                    <!-- Anamnese -->
                    <li class="nav-item">
                        <a class="nav-link" id="anamnese-tab" data-toggle="tab" href="#anamnese" role="tab" aria-controls="anamnese" aria-selected="false">
                            ANAMNESE
                        </a>
                    </li>

                    <!-- Sinais Vitais -->
                    <li class="nav-item">
                        <a class="nav-link" id="sinaisVitais-tab" data-toggle="tab" href="#sinaisVitais" role="tab" aria-controls="sinaisVitais" aria-selected="false">
                            SINAIS VITAIS
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="antropometria-tab" data-toggle="tab" href="#antropometria" role="tab" aria-controls="antropometria" aria-selected="false">
                            ANTROPOMETRIA
                        </a>
                    </li>
                </ul>

                <!---------- Cadastrar Paciente ---------->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="cadastroPaciente" role="tabpanel" aria-labelledby="cadastroPaciente-tab">
                        <br>
                        <div class="form-row">

                            <div class="form-group col-lg-3">
                                <label>Data da Avaliação:<span style="color:red">*</span></label>
                                <input class="form-control data" type="date" ng-model="patient.evaluationDate"
                                       name="evaluationDate" required><br>

                                <label>Data de Nascimento:<span style="color:red">*</span></label>
                                <input class="form-control data" type="date" name="dateOfBirth"
                                       ng-model="patient.dateOfBirth" required>
                            </div>

                            <div class="form-group col-lg-6"><label>Nome completo:<span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="namePatient"
                                       ng-model="patient.name" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <label>RG:<span style="color:red">*</span></label>
                                <input class="form-control" type="number" name="rgPatient"
                                       ng-model="patient.rgPatient" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <div class="form-check">

                                    <label>Sexo:</label><br>
                                    <label class="form-check-label custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="sexo"
                                               value="masculino" ng-model="patient.sexo">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Masculino</span>
                                    </label>

                                    <label class="form-check-label custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="sexo"
                                               value="feminino" ng-model="patient.sexo">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Feminino</span>
                                    </label>
                                    <label class="form-check-label custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="sexo"
                                               value="outro" ng-model="patient.sexo">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Outro</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-lg-2">
                                <label>Estado Civil:</label>
                                <select class="custom-select" name="statusCivil" ng-model="patient.statusCivil">
                                    <option value="solteiro">Solteiro(a)</option>
                                    <option value="casado">Casado(a)</option>
                                    <option value="divorciado">Divorciado(a)</option>
                                    <option value="viuvo">Viúvo(a)</option>
                                    <option value="separado">Separado(a)</option>
                                    <option value="agregado">Agregado(a)</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Endereço:<span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="address"
                                       ng-model="patient.address" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <label>Telefone:<span style="color:red">*</span></label>
                                <input class="form-control" type="number" name="phone" ng-model="patient.phone" required>

                                <label>Escolaridade:</label>
                                <select class="custom-select" ng-model="patient.schooling">
                                    <option value="fundamental">Ensino fundamental</option>
                                    <option value="medio">Ensino médio</option>
                                    <option value="superior">Ensino superior</option>
                                    <option value="outro">Outro</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Ocupação:</label>
                                <input class="form-control" type="text" name="occupation"
                                       ng-model="patient.occupation">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Renda familiar:</label>
                                <input class="form-control" type="text" name="revenue"
                                       ng-model="patient.revenue">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Nome do Parente ou Cuidador:</label>
                                <input class="form-control" type="text" name="parentName"
                                       ng-model="patient.parentName">

                                <label>Medicação em uso:<span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="medicacao_uso"
                                       ng-model="patient.medication" required>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Nome do Médico:<span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="doctorName"
                                       ng-model="patient.doctorName" required>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Diagnóstico clínico:<span style="color:red">*</span></label>
                                <textarea class="form-control" cols="30" rows="6" name="diagnostic"
                                          ng-model="patient.diagnostic" required></textarea>
                            </div>
                        </div>
                    </div>

                    <!---------- Anamnese ---------->
                    <div class="tab-pane fade" id="anamnese" role="tabpanel" aria-labelledby="anamnese-tab">
                        <br>
                        <div class="form-group col-lg-2">
                            <div class="form-check">

                                <label>Atividade física:</label><br>
                                <label class="form-check-label custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" name="ativo"
                                           value="ativo" ng-model="patient.physicalActivity">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Ativo</span>
                                </label>

                                <label class="form-check-label custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" name="sedentario"
                                           value="sedentario" ng-model="patient.physicalActivity">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Sedentário</span>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Queixa Principal (QP):<span style="color:red">*</span></label>
                                <textarea class="form-control" cols="30" ng-model="patient.complaint" rows="6" name="complaint" required></textarea>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Histórico da Doença Atual (HDA):</label>
                                <textarea class="form-control" cols="30" rows="6" ng-model="patient.historic" name="historic"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="sinaisVitais" role="tabpanel" aria-labelledby="sinaisVitais-tab">
                        <br>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <label>Temperatura Corporal:</label>
                                <input type="number" class="form-control" ng-model="patient.sinaisVitais.temperatura" placeholder="ºC" name="tempCorporal">
                            </div>

                            <div class="col-lg-2">
                                <label>Pressão Arterial:</label>
                                <input type="text" class="form-control" ng-model="patient.sinaisVitais.pressaoArterial" placeholder="mmHg" name="pressaoArterial">
                            </div>

                            <div class="col-lg-4">
                                <label>Frequência Cardíaca:</label>
                                <input type="number" class="form-control" ng-model="patient.sinaisVitais.frequenciaCardiaca" placeholder="bpm" name="freqCardiaca">
                            </div>

                            <div class="col-lg-2">
                                <label>Freq. Respiratória:</label>
                                <input type="number" class="form-control" ng-model="patient.sinaisVitais.frequenciaRespiratoria" placeholder="irpm" name="freqRespiratoria">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="antropometria" role="tabpanel" aria-labelledby="antropometria-tab">
                        <br>
                        <div class="form-row">
                            <div class="form-group col-lg-2">
                                <label>Peso Atual:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" ng-model="patient.antropometria.peso" placeholder="kg" name="pesoAtual" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <label>Circunf. cintura:</label>
                                <input type="text" class="form-control" ng-model="patient.antropometria.cintura" placeholder="cm" name="circunfCintura">
                            </div>

                            <div class="form-group col-lg-2">
                                <label>Circunf. quadril:</label>
                                <input type="text" class="form-control" ng-model="patient.antropometria.quadril" placeholder="cm" name="circunfQuadril">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Relação cintura-quadril:</label>
                                <input type="text" class="form-control" ng-model="patient.antropometria.cinturaQuadril" name="relCinturaQuadril">
                            </div>

                            <div class="form-group col-lg-2">
                                <label>Altura referida:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" ng-model="patient.antropometria.altura" placeholder="cm" name="altReferida" required>
                            </div>

                            <div class="form-group col-lg-2">
                                <label>IMC:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" ng-model="patient.antropometria.imc" required readonly>
                            </div>
                            
                            <div class="form-group col-lg-4">
                            <br>
                            	<button class="btn btn-success" ng-disabled="!patient.antropometria.peso || !patient.antropometria.altura" ng-show="!patient.antropometria.imc" ng-click="calcularIMC(patient.antropometria.peso, patient.antropometria.altura)">Calcule IMC</button>
                				<button class="btn btn-primary" ng-disabled="patientForm.$invalid" ng-click="insert(patient)">Cadastrar</button>
                			<br>
                			</div>
                        </div>
                        <span ng-show="patient.antropometria.imc">{{messageImc}}</span>
                		<span ng-show="message">{{message}}</span>
                    </div>
                </div>

            </div>
           </form>
        </div>

		<div ng-include="'footer.html'"></div>

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
						<form action="/ProntFisio/logar" method="get">
							<button class="btn btn-primary" >Sair</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/popper/popper.min.js"></script>
		<script src="js/bootstrap.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
		<!-- Custom scripts for this page-->
		<!-- <script src="js/sb-admin-charts.min.js"></script> -->



	</div>
</body>

</html>
