<!DOCTYPE html>
<html lang="pt-br" ng-app="prontFisio">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Configurações</title>

	<link rel="icon" href="img/logopreta.png">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Viga&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"> -->

	<!-- Bootstrap core CSS-->
	<link href="css/bootstrap.css" rel="stylesheet">

	<!-- Custom fonts for this template-->
	<link href="fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">

	<link rel="stylesheet" href="css/estilo.css">
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/index.js"></script>
	<script src="https://javascript.daypilot.org/demo/lite/js/daypilot-all.min.js"></script>
	
	<style>
		.inputconfig{
			width: 50%;
		}
	
	</style>

</head>

<body class="fixed-nav sticky-footer bg-default" id="page-top">
	<div ng-include="'nav.html'"></div>

	<div class="content-wrapper agenda-fisioterapeuta" ng-controller="appointmentBookCtrl">
		<div class="container-fluid">
            <h4>CONFIGURAÇÕES</h4>
            <hr>
			<div class="col-lg-12">
				<div class="jumbotron">
					<form class="form-group" style="margin: 0 auto;">
	                    <label>Email:</label>
	                    <input class="form-control inputconfig" ng-model="user.login" type="email">
	
	                    <label>Senha nova:</label>
	                    <input class="form-control inputconfig" ng-model="user.senha" type="password">
	
	                    <label>Repita a senha:</label>
	                    <input class="form-control inputconfig" ng-model="user.password" type="password">
	                    <br/>
	                    <button class="btn btn-primary" ng-disabled="!user.login || !user.senha || !user.password || (user.senha != user.password)" ng-click="update(user)">Atualizar</button>
	                </form>
				</div>
			</div>
		</div>

		<div ng-include="'footer.html'"></div>

		<!-- Scroll to Top Button-->
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>

					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
						<form action="/ProntFisio/logar" method="get">
							<button class="btn btn-primary" >Sair</a>
						</form>
					</div>
				</div>
			</div>
		</div>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper/popper.min.js"></script>
        <script src="js/bootstrap.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
        <!-- Custom scripts for this page-->
        <!-- <script src="js/sb-admin-charts.min.js"></script> -->
    </div>
</body>

</html>
