<!DOCTYPE html>
<html lang="pt-br" ng-app="prontFisio">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Exames Físicos</title>

	<link rel="icon" href="img/logopreta.png">

    <link href="https://fonts.googleapis.com/css?family=Coustard:400,900|Viga" rel="stylesheet">

	<!-- Bootstrap core CSS-->
	<link href="css/bootstrap.css" rel="stylesheet">

	<!-- Custom fonts for this template-->
	<link href="fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css">

	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">

    <link rel="stylesheet" href="css/escalaDor.css">

	<link href="css/estilo.css" rel="stylesheet">

	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/examesController.js"></script>

    <script src="js/escalaDor.js"></script>
    <script src="https://javascript.daypilot.org/demo/lite/js/daypilot-all.min.js"></script>

</head>

<body class="fixed-nav sticky-footer bg-default" id="page-top" ng-controller="examesCtrl">
	<div ng-include="'nav.html'"></div>


	<!-- CONTEÚDO -->

	<div class="content-wrapper">
		<div class="container-fluid">
            <div class="col-lg-12">
                <h4>EXAMES FÍSICOS</h4>
                <div ng-if="patients.length > 0">
                	Paciente:
                	<select class="custom-select" ng-change="changePatient(patientSelected)" ng-model="patientSelected" ng-options="patient.name for patient in patients">
                 	</select>
                	<hr>
                	<div ng-if="patientSelected" ng-include="'divisaoExamesFisicos.html'"></div>
                </div>
                <div ng-if="patients.length === 0">
					<span>Não há pacientes cadastrados.</span>
					<a class="nav-link" href="cadastrarPaciente.html">
						<i class="fa fa-user-plus"></i>
						<button class="btn btn-primary">Cadastrar Paciente</button>
					</a>
				</div>

            </div>
		</div>
		<button class="btn btn-primary float-right" ng-click="update(patientSelected)" ng-if="patientSelected">Atualizar <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
		<span ng-if="message">{{message}}</span>
		<div ng-include="'footer.html'"></div>

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
						<form action="/ProntFisio/logar" method="get">
							<button class="btn btn-primary" >Sair</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/popper/popper.min.js"></script>
		<script src="js/bootstrap.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
		<!-- Custom scripts for this page-->
		<!-- <script src="js/sb-admin-charts.min.js"></script> -->
	</div>
</body>

</html>
