<!DOCTYPE html>
<html lang="pt-br" ng-app="prontFisio">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Listar Pacientes</title>

    <link rel="icon" href="img/logopreta.png">

    <link href="https://fonts.googleapis.com/css?family=Coustard:400,900|Viga" rel="stylesheet">

    <!-- Bootstrap core CSS-->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    
    <link href="css/estilo.css" rel="stylesheet">
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/patientController.js"></script>
    <script src="https://javascript.daypilot.org/demo/lite/js/daypilot-all.min.js"></script>

</head>

<body class="fixed-nav sticky-footer bg-default" id="page-top">

    <div ng-include="'nav.html'"></div>
    
    
    <!-- CONTEÚDO -->

	<div class="content-wrapper cadastro-paciente" ng-controller="patientCtrl">
		<div class="container-fluid">
			<div class="col-lg-12" ng-show="!edit && !view">
				<h4>LISTA DE PACIENTES</h4>
                <hr>
                <input class="form-control float-right pesquisarPaciente" ng-model="search" type="text" placeholder="Procurar paciente">
                <br>
			<!-- 	<div ng-repeat="patient in patients">
					<span>{{patient.name}}</span>
					<button ng-click="editPatient(patient)">Editar</button>
					<button ng-click="remove(patient)">Remover</button> -->

                    <table class="table table-hover table-bordered table-striped centralizar table-responsive-sm">
                        <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Data de avaliação</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">RG</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="patient in patients | filter: search">
                            <td>{{patient.name}}</td>
                            <td>{{patient.evaluationDate | date: 'dd/MM/yyyy'}}</td>
                            <td>{{patient.address}}</td>
                            <td>{{patient.phone}}</td>
                            <td>{{patient.rgPatient}}</td>
                            <td>
                                <button ng-click="viewPatient(patient)" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button> 
                                <button ng-click="editPatient(patient)" class="btn btn-warning btn-sm"><i class="fa fa-pencil-alt" aria-hidden="true"></i></button></a>
                                <button class="btn btn-danger btn-sm" ng-click="remove(patient)"><i class="fa fa-trash-alt" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                       </tbody>
                    </table>
				<!-- </div> -->
			</div>
			
			<div ng-show="patients.length === 0">
				<span>Não há pacientes cadastrados.</span>
				<a class="nav-link" href="cadastrarPaciente.html">
					<i class="fa fa-user-plus"></i>
					<button class="btn btn-primary">Cadastrar Paciente</button>
				</a>
			</div>
			
		
			
			<div class="col-lg-12" ng-show="edit">
				<form class="form-row" name="patientForm">

					<div class="form-group col-lg-3">
						<label>Data da Avaliação:<span style="color:red">*</span></label>
						<input class="form-control data" type="date" ng-model="patient.evaluationDate" name="evaluationDate" required><br>

						<label>Data de Nascimento:<span style="color:red">*</span></label>
						<input class="form-control data" type="date" name="dateOfBirth" ng-model="patient.dateOfBirth" required>
					</div>

					<div class="form-group col-lg-6">
						<label>Nome completo:<span style="color:red">*</span></label>
						<input class="form-control" type="text" name="namePatient" ng-model="patient.name" required>
					</div>

					<div class="form-group col-lg-2">
						<label>RG:<span style="color:red">*</span></label>
						<input class="form-control" type="text" name="rgPatient" ng-model="patient.rgPatient" required>
					</div>

					<div class="form-group col-lg-2">
						<div class="form-check">

							<label>Sexo:</label><br>
							<label class="form-check-label custom-control custom-radio">
								<input class="custom-control-input" type="radio" name="sexo" value="masculino" ng-model="patient.sexo">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Masculino</span>
							</label>

							<label class="form-check-label custom-control custom-radio">
								<input class="custom-control-input" type="radio" name="sexo" value="feminino" ng-model="patient.sexo">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Feminino</span>
							</label>
							<label class="form-check-label custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="sexo" value="outro" ng-model="patient.sexo">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Outro</span>
                            </label>
						</div>
					</div>

					<div class="form-group col-lg-4">
						<label>Estado Civil:</label>
						<input class="form-control" type="text" name="statusCivil" ng-model="patient.statusCivil">
					</div>

					<div class="form-group col-lg-6">
						<label>Endereço:<span style="color:red">*</span></label>
						<input class="form-control" type="text" name="address" ng-model="patient.address" required>
					</div>

					<div class="form-group col-lg-2">
						<label>Telefone:<span style="color:red">*</span></label>
						<input class="form-control" type="text" name="phone" ng-model="patient.phone" required>
					</div>

					<div class="form-group col-lg-2">
						<label>Escolaridade:</label>
						<select class="custom-select" ng-model="patient.schooling">
							<option value="fundamental">Ensino fundamental</option>
							<option value="medio">Ensino médio</option>
							<option value="superior">Ensino superior</option>
							<option value="outro">Outro</option>
						</select>
					</div>

					<div class="form-group col-lg-4">
						<label>Ocupação:</label>
						<input class="form-control" type="text" name="occupation" ng-model="patient.occupation">
					</div>

					<div class="form-group col-lg-4">
						<label>Renda familiar:</label>
						<input class="form-control" type="text" name="revenue" ng-model="patient.revenue">
					</div>

					<div class="form-group col-lg-4">
						<label>Diagnóstico clínico:<span style="color:red">*</span></label>
						<textarea class="form-control" cols="30" rows="6" name="diagnostic" ng-model="patient.diagnostic" required>

						</textarea>
					</div>

					<div class="form-group col-lg-4">
						<label>Nome do Parente ou Cuidador:</label>
						<input class="form-control" type="text" name="parentName" ng-model="patient.parentName">

						<label>Medicação em uso:<span style="color:red">*</span></label>
						<input class="form-control" type="text" name="medicacao_uso" ng-model="patient.medication" required>
					</div>

					<div class="form-group col-lg-4">
						<label>Nome do Médico:<span style="color:red">*</span></label>
						<input class="form-control" type="text" name="doctorName" ng-model="patient.doctorName" required>
					</div>

				<div layout= "column">
					<h4>Anamnese</h4>
					<hr>

					<div class="form-row">
						<div class="col-lg-4">
							<br><label>Atividade física:</label><br>
							<label class="form-check-label custom-control custom-radio">
								<input class="custom-control-input" type="radio" name="atividade_fisica" value="ativo" ng-model="patient.physicalActivity">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Ativo</span>
							</label>

							<label class="form-check-label custom-control custom-radio">
								<input class="custom-control-input" type="radio" name="atividade_fisica" value="sedentario" ng-model="patient.physicalActivity">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Sedentário</span>
							</label>

							
						</div>
						<div class="col-lg-4">
							<label>Queixa Principal (QP):<span style="color:red">*</span></label>
							<textarea class="form-control" cols="30" rows="10" name="queixa_principal" ng-model="patient.complaint" required></textarea>
						</div>

						<div class="col-lg-4">
							<label>Histórico da Doença Atual (HDA):</label>
							<textarea class="form-control" cols="30" rows="10" name="historic" ng-model="patient.historic"></textarea>
						</div>

						

							<br>
							<button class="btn btn-primary float-right" ng-click="update(patient)" ng-disabled="patientForm$invalid">Atualizar <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
							<button class="btn btn-secondary float-right" ng-click="cancel()"> Cancelar <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
							<br><br>
							<span>{{message}}</span>						
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="container-fluid" ng-show="view">
        <div class="row">
            <div class="col-lg-10" style="margin: 0 auto">

                <div class="row">

                    <div class="col-lg-6">
                        <label><b>Nome</b></label>
                        <p>{{patient.name}}</p>
                    </div>
					
					<div class="col-lg-6">
                        <label><b>Telefone</b></label>
                        <p>{{patient.phone}}</p>
                    </div>
                    
					<div class="col-lg-6">
                        <label><b>Endereço</b></label>
                        <p>{{patient.address}}</p>
                    </div>
					

                    <div class="col-lg-2">
                        <label><b>RG</b></label>
                        <p>{{patient.rgPatient}}</p>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-lg-6">
                        <label><b>Diagnóstico</b></label>
                        <p>{{patient.diagnostic}}</p>
                    </div>

                  	<div class="col-lg-6">
                        <label><b>Medicação</b></label>
                        <p>{{patient.medication}}</p>
                    </div>
                    
                    <div class="col-lg-6">
                        <label><b>Fisioterapeuta</b></label>
                        <p>{{patient.doctorName}}</p>
                    </div>
                    <div class="col-lg-6">
                        <label><b>Queixa</b></label>
                        <p>{{patient.complaint}}</p>
                    </div>
                    
                </div>
				
                

            </div>
        </div>
    </div>
		
    </div>
    
    
           
    
    <div ng-include="'footer.html'"></div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <form action="/ProntFisio/logar" method="get">
						<button class="btn btn-primary" >Sair</a>
					</form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <!-- <script src="js/sb-admin-charts.min.js"></script> -->

</body>

</html>
