<!DOCTYPE html>
<html lang="pt-br" ng-app="prontFisio">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login - ProntFisio</title>

  <link rel="icon" href="img/logopreta.png">

  <link href="https://fonts.googleapis.com/css?family=Viga&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

  <!-- Bootstrap core CSS-->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

  <link href="css/estilo.css" rel="stylesheet">
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/loginFisio.js"></script>
  <script src="https://javascript.daypilot.org/demo/lite/js/daypilot-all.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-default">



  <div class="container">
    <img src="img/prontfisio-logo-branca.png" class="logo-prontfisio img-fluid" alt="Logo ProntFisio" title="Logo ProntFisio">
    <div class="card card-login mx-auto mt-5">
      <div class="card-body">
	  
        <form action="/ProntFisio/logar" method="post" class="label-form" ng-controller="loginCtrl" name="loginForm">
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input class="form-control" id="exampleInputEmail" type="email" placeholder="Seu email" name="login" ng-model="user.email">
          </div>
		  
          <div class="form-group">
            <label for="exampleInputPassword">Senha</label>
            <input class="form-control" id="exampleInputPassword" type="password" placeholder="Senha" name="senha" ng-model="user.password">
          </div>
		  
          <div class="form-group">
            <label class="form-check-label custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" name="lembrar_senha">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Lembrar senha</span>
            </label>
          </div>

          <button class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center">
		<br>
		<a class="d-block small" href="recuperarSenha.html" target="_blank">Esqueceu a senha?</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-include="'footer.html'"></div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/popper/popper.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
