<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
	<a class="navbar-brand" href="agendamento.html">ProntFisio <img src="img/logobranca.png" class="logo"></a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
				<a class="nav-link" href="agendamento.html">
                    <i class="far fa-calendar-alt"></i>
					<span class="nav-link-text">Agenda</span>
				</a>
			</li>

	 		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cadastrar Paciente">
				<a class="nav-link" data-toggle="collapse" href="#cadastrarPaciente" data-parent="cadastrarPaciente">
					<i class="fas fa-user-plus"></i>
					<span class="nav-link-text">Cadastrar Paciente</span>
				</a>

                <ul class="sidenav-second-level collapse" id="cadastrarPaciente">
                    <li>
                        <a href="cadastrarPaciente.html">Identificação do Paciente</a>
                    </li>

                    <li>
                        <a href="examesFisicos.html">Exames Físicos</a>
                    </li>
                </ul>
			</li>

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Listar Pacientes">
				<a class="nav-link" href="listarPacientes.html">
					<i class="fas fa-clipboard-list" aria-hidden="true"></i>
					<span class="nav-link-text">Listar Pacientes</span>
				</a>
			</li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Configurações">
                <a class="nav-link" href="configuracoes.html">
                    <i class="fab fa-whmcs"></i>
                    <span class="nav-link-text">Configurações</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="modal" data-placement="right" data-target="#exampleModal" title="Sair">
                <a class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-link-text">Sair</span>
                </a>
            </li>
		</ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#nomeFisioterapeuta">
                    <span>Bem-vindo!</span>
                </a>
            </li>
        </ul>

	</div>
</nav>