a:link{text-decoration: none}

/*-- SCROLL BAR STYLE --*/
::-webkit-scrollbar{
    width: 9px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #696f70;
    /*box-shadow: inset 0 0 6px rgba(123, 123, 123, 0.3);*/
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: white;
    /*box-shadow: inset 0 0 6px rgba(123, 123, 123, 0.3);*/
}

/*-- NAVBAR --*/

.bg-default{
    background-color: #2A3F54;
}

.navbar-brand{
    font-family: 'Viga', sans-serif;
    font-size: 21px;
}

.logo{
    width: 30px;
    height: 33px;
    margin-top: -10px;
}

.navbar-toggler{
    border: none;
    border-color: inherit;
}

.nav-link-text{
    font-size: 13.5px;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: #425567;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a{
    background-color: #2A3F54;
    color: #939ca2;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after{
    color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after{
    color: white;
}

@media (min-width: 992px){
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #2A3F54; /*#343a40*/
    }
}

.fas{
    color: white;
    font-size: 0.9em;
}

.fab{
    color: white;
    font-size: 0.9em;
}

.far{
    color: white;
    font-size: 0.9em;
}

.nav-link-text{
    color: #dee2e6;
    padding-left: 10px;
}

a{text-decoration: none}

/*-- PÁGINA DE LOGIN --*/

.card-login{width: 25rem}

.label-form > .form-group{
    font-weight: bolder;
    color: #5a5a5a;
    font-size: 13px;
}

.form-control{
    border-radius: 2.2px;
    font-size: 0.8rem;
    font-weight: normal;
}

.nome{width: 50%}

.rg{width: 20%}

body > .container > .logo-prontfisio{
    position:absolute;
    top: 15%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

/*-- CONTEÚDO DA INDEX --*/

.btn-gender{
    margin: 0 auto;
    border-radius: 10px;
}

.col-lg-12 > .card{
    width: 15rem;
    height: 10rem;
}
/*-- LISTAR PACIENTES --*/

.pesquisarPaciente{width: 20%}

.card-agenda{width: 16rem}

/*-- IDENTIFICAÇÃO DO PACIENTE --*/

.form-row > .form-group > .data{width: 200px;}

.form-row > .form-group > .rg{width: 135px;}

.form-row > .form-group > .nome{width: 500px;}

/*-- EXAMES FÍSICOS --*/

.perimetria{
    margin: 0 auto;
}

.btn-block{
    width: 30%;
    margin: 0 auto;
}

.nav-tabs{
    border-bottom: 2px solid #ddd;
}

.escalaDor{width: 20%;}

.email{width: 30%}

/*-- CONFIGURAÇÕES --*/

.jumbotron{
	margin: 0 auto;
}

/*-- FOOTER --*/

footer.sticky-footer {
    width: 100%;
    background-color: #5a6670;
    color: white;
}