<!DOCTYPE html>
<html lang="pt-br" ng-app="prontFisio">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Painel - ADMIN</title>

  <link rel="icon" href="../img/logopreta.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Viga&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css">

  <link href="css/css_admin.css" rel="stylesheet">
 <script src="../lib/angular/angular.js"></script>
 <script src="../js/app.js"></script>
 <script src="js/index.js"></script>
 <script src="https://javascript.daypilot.org/demo/lite/js/daypilot-all.min.js"></script>	

</head>

<body ng-controller="indexAdminCtrl">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a href="indexAdmin.html" class="logo"><img src="../img/prontfisio-logo-branca.png"> | Admin</a>
        <form class="form-inline">
            <a class="navbar-brand" href="#"><i class="fas fa-user-circle"></i> Sair <i class="fa fa-sign-out"></i></a>
        </form>
    </nav>
    <br>
	
    <div class="col-lg-6">
        <nav aria-label="breadcrumb" role="navigation">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol> -->
            <button class="btn btn-primary btn-sm" ng-click="dashboard()">
            	<i class="fas fa-home" aria-hidden="true"></i> Dashboard</button>
    
            <button class="btn btn-success btn-sm" type="button" ng-click="newPhysiotherapist()">
            	<i class="fa fa-plus" aria-hidden="true"></i> <p>Novo Fisioterapeuta</p>
            </button>
                         
            <button class="btn btn-success btn-sm" type="button" ng-click="listPhysio()">
            	<i class="fa fa-user" aria-hidden="true"></i> <p>Fisioterapeutas</p>
            </button>
        </nav>
    </div>
    <hr>

    <!-- <div class="container-fluid" ng-show="!newRecordPhysiotherapist && !listPhysiotherapist">
        <div class="row">
            <div class="col-lg-12">
           

                <div class="container">
                	<div class="col-lg-4">
                		<div class="card text-white bg-primary">
                		<div class="card-body">
                			<div class="card-body-icon">
                				<i class="fa fa-fw fa-comments"></i>
							</div>
							<div class="mr-5">26 New Messages!</div>
							<a class="card-footer text-white clearfix small z-1" href="#">
				              <span class="float-left">View Details</span>
				              <span class="float-right">
                				<i class="fa fa-angle-right"></i>
              				  </span>
							</a>
                		</div>
                	</div>
                </div>
                	
                	
                </div>
                <hr>
            </div>
        </div>
    </div> -->
    
    <!-- ------------------------ TELA CADASTRO FISIOTERAPEUTA ------------------------------------ -->
    
    <div class="container-fluid" ng-show="newRecordPhysiotherapist">
        <div class="row">
            <div class="col-lg-10" style="margin: 0 auto">
                <form class="jumbotron" name="myForm">
                    <div class="form-row">
                        <div class="form-group col-lg-2">
                            <label>CREFITO<span style="color:red">*</span></label>
                            <input type="text" ng-model="physiotherapist.crefito" class="form-control" placeholder="Crefito" required>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Nome<span style="color:red">*</span></label>
                            <input type="text" ng-model="physiotherapist.name" class="form-control" placeholder="Nome completo" required>
                        </div>

                        <div class="form-group col-lg-2">
                            <label>RG<span style="color:red">*</span></label>
                            <input type="text" ng-model="physiotherapist.rg" class="form-control" placeholder="RG" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label>Email<span style="color:red">*</span></label>
                            <input type="email" class="form-control" ng-model="physiotherapist.user.login" placeholder="example@email.com" required>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Endereço<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-model="physiotherapist.address" placeholder="Endereço completo" required>
                        </div>
                    </div>

                    <div class="form-row col-lg-12">
                        <div class="form-group col-lg-2">
                            <label>Telefone<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-model="physiotherapist.phone" placeholder="DDD + Tel" required>
                        </div>

                        <div class="form-group col-lg-2">
                            <label>Senha<span style="color:red">*</span></label>
                            <input type="password" class="form-control" ng-model="physiotherapist.user.senha" placeholder="Senha" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-1">
                            <button ng-click="dashboard()" class="btn btn-danger">Cancelar</button>
                        </div>

                        <div class="col-lg-4">
                            <button ng-click="insert(physiotherapist)" ng-show="!edit" class="btn btn-primary" ng-disabled="myForm.$invalid">Cadastrar</button>
                            <button ng-click="update(physiotherapist)" ng-show="edit" class="btn btn-primary" ng-disabled="myForm.$invalid">Atualizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
   <!--  <div class="col-lg-6" ng-show="listPhysiotherapist  && !newRecordPhysiotherapist">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
    </div>
    <hr> -->
    
    <!-- ------------------------- TELA DE LISTAGEM DE FISIOTERAPEUTAS ---------------------------------------- -->

    <div class="container-fluid" ng-show="listPhysiotherapist  && !newRecordPhysiotherapist">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="form-inline">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="Pesquisar..." aria-label="Pesquisar...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-disabled="!criterioDeBusca"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-6">
                            <button class="btn btn-success" ng-click="newPhysiotherapist()">Novo <i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
                <br>
                <br>

                <div class="col-lg-12">
                    <table class="table table-hover table-bordered table-striped table-responsive-lg centralizar">
                        <thead>
                        <tr>
                            <th scope="col">CREFITO</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">RG</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="physiotherapist in physiotherapists | filter:criterioDeBusca">
                            <th>{{physiotherapist.crefito}}</th>
                            <td>{{physiotherapist.name}}</td>
                            <td>{{physiotherapist.user.login}}</td>
                            <td>{{physiotherapist.address}}</td>
                            <td>{{physiotherapist.phone}}</td>
                            <td>{{physiotherapist.rg}}</td>
                            <td>
                                <button ng-click="viewPhysiotherapist(physiotherapist)" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                <button ng-click="editPhysiotherapist(physiotherapist)" class="btn btn-warning btn-sm"><i class="fa fa-pencil-alt" aria-hidden="true"></i></button></a>
                                <button class="btn btn-danger btn-sm" ng-click="remove(physiotherapist)"><i class="fa fa-trash-alt" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                       </tbody>
                    </table>
                    <br>

                  <!--   <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                </div>

            </div>
        </div>
    </div>
    
    <div class="container-fluid" ng-show="view && !newRecordPhysiotherapist">
        <div class="row">
            <div class="col-lg-10" style="margin: 0 auto">
            	<div class="jumbotron">
            		<div class="row">

                    <div class="col-lg-2">
                        <label>CREFITO</label>
                        <p>{{physiotherapist.crefito}}</p>
                    </div>

                    <div class="col-lg-4">
                        <label>Nome</label>
                        <p>{{physiotherapist.name}}</p>
                    </div>

                    <div class="col-lg-2">
                        <label>RG</label>
                        <p>{{physiotherapist.rg}}</p>
                    </div>
                </div>
                <br>

                <div class="row">

                    <div class="col-lg-6">
                        <label>Email</label>
                        <p>{{physiotherapist.user.login}}</p>
                    </div>

                    <div class="col-lg-6">
                        <label>Endereço</label>
                        <p>{{physiotherapist.address}}</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-2">
                        <label>Telefone</label>
                        <p>{{physiotherapist.phone}}</p>
                    </div>

                    <div class="col-lg-2">
                        <label>Senha</label>
                        <p>********</p>
                    </div>
                </div>

                <button ng-click="editPhysiotherapist(physiotherapist)" class="btn btn-warning"><i class="fa fa-pencil-alt" aria-hidden="true"></i></button>
            		
            	</div>

                
            </div>
        </div>
    </div>


    <div ng-include="'../footer.html'"></div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
